// Define variables for your color scheme

// For example:
$red: #ca0201;
$dark: #132c44;
$yellow: #ffad02;
$dark-grey: #3b4445;
$grey: #b0b9bb;
$light-grey: #d9dde0;

$orange: #e67e22;
$green: #1edd88;
$blue: #167ffb;
$background: #F5F8FB;
