<div class="container">
  <h1>All Chats</h1>


  <% @conversations.each do |conversation| %>
    <% next if conversation.messages.empty? %>
    <div class="conversation-card bg-white p-2 m-3" style="height:100px;">
      <p><%= link_to conversation.other_user(current_user).first_name, conversation_path(conversation) %></p>
      <p><%= conversation.messages.last.content %></p>
    </div>
  <% end %>
</div>
