<div class="banner">
  <div class="container">
    <div class="main-text">
      <h1>View anytime, <br>
      anywhere.</h1>
      <p>Connecting a buyer and a seller <br>
      without any third-party worries.</p>
      <form action="/listings"><input type="text" id="location-input-homepage" name="location" required
          minlength="3" maxlength="25" placeholder="Where would you like to buy your property?">
      </form>
    </div>
  </div>
</div>

<div class="container mt-3">

  <h3 class="m-5 text-center" >Check out some of our current available instant viewings:</h3>
  <section class="mb-3">
    <%= render 'shared/card' %>
  </section>
  <%= link_to "See all of our current listings..",  listings_path, class:"homepage-a" %>

  <br>
  <br>
  <br>
  <br>

  <section id="how-it-works">
    <h2 class="text-center">How It Works</h2>
    <div class="d-flex">
      <div class="row">
        <div class="col-lg-3">
          <div class="card align-items-center text-justify p-3 m-1">
            <h3 class="text-center">Search for a listing</h3>
            <h2><i class="fas fa-search-location"></i></h2>
            <p>Start your search from the location of the properties you hope to purchase from!</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card align-items-center text-justify p-3 m-1">
            <h3 class="text-center">Book a viewing instantly</h3>
            <h2><i class="far fa-calendar-alt"></i></h2>
            <p>When you see the tag instant viewing, it means these properties are available to visit at anytime! Viewings will be arranged remotely and you can access the property with a security key provided!</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card align-items-center text-justify p-3 m-1">
            <h3 class="text-center">Place an offer</h3>
            <h2><i class="fas fa-comments-dollar"></i></h2>
            <p>If you see a property you are interested in placing an offer, you can instantly message and negotiate with the owner from our application!</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card align-items-center text-justify p-3 m-1">
            <h3 class="text-center">Secure Payment</h3>
            <h2><i class="far fa-credit-card"></i></h2>
            <p>Place a down payment on the property through our safe payment gateway system and you're all set!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>

  <section id="benefits">
    <h2 class="text-center">Benefits</h2>
    <div class="d-flex">
      <div class="row">
        <div class="col-lg-4">
          <div class="card"></div>
            <img src="https://www.thehouseshop.com/property-blog/wp-content/uploads/2018/03/house-hunt.jpg" alt="Instant Viewings">
            <h3>Instant Viewing</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/04/16/813736-homeloan-istock-041719.jpg" alt="Cheap Listings">
            <h3>Cheap Listing</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="https://media.istockphoto.com/photos/looking-for-bike-shops-nearby-picture-id1069962264?b=1&k=20&m=1069962264&s=170667a&w=0&h=Mjtnu6ZrdC9XXJvaOTsS22VLeVuTNA4Ds8Vjo8ExcJc=" alt="Person holding phone">
            <h3>All-in-One App</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>

  <section id="about_us" class="m-3">
    <h2 class="text-center">About Us</h2>

  </section>


  <ul class="list-unstyled">
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      <p>All my girls vintage Chanel baby. So you can have your cake. Tonight, tonight, tonight, I'm walking on air. Slowly swallowing down my fear, yeah yeah. Growing fast into a bolt of lightning. So hot and heavy, 'Til dawn. That fairy tale ending with a knight in shining armor. Heavy is the head that wears the crown.</p>
    </div>
  </li>
  <li class="media my-4">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      <p>Maybe a reason why all the doors are closed. Cause once you’re mine, once you’re mine. Be your teenage dream tonight. Heavy is the head that wears the crown. It's not even a holiday, nothing to celebrate. A perfect storm, perfect storm.</p>
    </div>
  </li>
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      <p>Are you brave enough to let me see your peacock? There’s no going back. This is the last time you say, after the last line you break. At the eh-end of it all.</p>
    </div>
  </li>
</ul>
</div>
