<div class="container mt-3">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <%= link_to "Listings",  listings_path %>

  <section id="about_us">
    <h2>About us section</h2>
  </section>

  <section id="benefits">
    <h2>Benefits section</h2>
  </section>
</div>
