<div class="banner">
  <div class="container">
    <div class="main-text">
      <h1>View anytime, <br>
      anywhere.</h1>
      <p>Connecting a buyer and a seller <br>
      without any third-party worries.</p>
      <form action="/listings"><input type="text" id="location-input-homepage" name="location" required
          minlength="3" maxlength="25" placeholder="Where would you like to buy your property?">
      </form>
    </div>
  </div>
</div>
<div class="container mt-3">

  <%= link_to "Listings",  listings_path %>

  <section id="about_us">
    <h2>About us section</h2>
  </section>

  <section id="benefits">
    <h2>Benefits section</h2>
  </section>
</div>
