.container.booking {
	background-color: $light-grey;
	padding: 12px;
	border-radius: 8px;
}

.booking-show {
	width: 70%;
	margin-top: 80px;
}

label {
	margin-left: 4px;
}

.booking_btn {
	width: 260px;
}
