.contract {
  width: 840px;
  height: 1188px;
  background-color: white;
  padding: 20px;
  margin-top: 60px;
  margin-left: 300px;
  margin-bottom: 100px;
  overflow: hidden;
  overflow-y: scroll;
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
