//top left one
.offer-container {
  margin-bottom: 10px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
.offer-cards {
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  height: 240px;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 0 20px $light-grey;
}

.offer-card {
  box-shadow: 0 0 5px $light-grey;
  background: rgb(233, 233, 233);
  width: 300px;
  height: 180px;
  border-radius: 3px;
  margin-bottom: 5px;
  p {
    margin-bottom: 2px;
  }
}

.response {
  margin-top: 3px;
  color: black;
  opacity: 0.5;
  text-align: center;
}

.accept-button {
  margin-right: 4px;
}

.counter-button {
  margin-bottom: 2px;
  margin-top: 2px;
}

//middle one
.booking-notification-cards {
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 0 20px $light-grey;
}

.offer-booking-card {
  box-shadow: 0 0 5px $light-grey;
  background: rgb(233, 233, 233);
  width: 610px;
  height: 80px;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px;
  p {
    margin-bottom: 2px;
  }
}

//bottom
.listing-cards {
  .main-container {
    width: 1000px;
    background-color: white;
    overflow: hidden;
    overflow-x: scroll;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 20px $light-grey;
  }
}

//right
.notification-cards {
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  height: 1000px;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 20px $light-grey;
}

.notification-card {
  box-shadow: 0 0 5px $light-grey;
  background: rgb(233, 233, 233);
  width: 280px;
  height: 100px;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px;
  p {
    margin-bottom: 2px;
  }
}

//title

.dashboard-title {
  opacity: 0.6;
  // font-weight: bolder;
  // background-color: rgb(211, 226, 248);
  // padding-top: 3px;
  // padding-bottom: 3px;
  // padding-left: 10px;
  // padding-right: 10px;
  // border-radius: 6px;
}
