.banner {
	background-image: linear-gradient(rgba(80, 80, 80, 0.6), rgba(80, 80, 80, 0.6)),
		asset-url('homepage');
	height: 95vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-top: 2px;
}

.main-text {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	color: white;
	h1 {
		font-size: 4em;
	}
	p {
		font-size: 1.5em;
	}
	form {
		color: grey;
		max-width: fit-content;
	}
}

#location-input-homepage {
	width: 400px;
	border-radius: 24px;
	padding: 8px 8px 8px 16px;
}

.homepage-a {
	font-size: 1.5em;
	color: $dark-grey;
	&:hover {
		text-decoration: underline;
	}
}

.card-benefits > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-work {
  overflow: hidden;
  background: $light-grey;
  box-shadow: 0 0 15px $light-grey;
  height: 300px;
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
}

.fa-comments-dollar {
  font-size: 80px;
  text-align: center;
}

.fa-calendar-alt {
  font-size: 80px;
  text-align: center;
}

.fa-search-location {
  font-size: 80px;
  text-align: center;
}

.fa-credit-card {
  font-size: 80px;
  text-align: center;
}
