.navbar-logo {
}

.navbar {
	display: flex;
	justify-content: space-between;
	height: 65px;
	background: $dark-grey;
	a {
		color: $light-grey;
	}
}

.navbar-brand {
	img {
		width: 175px;
	}
}

.collapse.nav-lin {
	justify-content: center;
}

.collapse.nav-lout {
	justify-content: end;
}

.dropdown-menu {
	border-radius: 8px;
}

.nav-section-1 {
	display: flex;
	list-style-type: none;
	.nav-item {
		width: 200px;
		margin: auto 2%;
	}
}

.nav-section-2 {
	display: flex;
	list-style-type: none;
	a {
		color: $dark-grey;
	}
}

.nav-link.dark {
	color: $light-grey;
}

.nav-item:hover {
	text-decoration: underline;
}

@media screen and (max-width: 968px) {
	.nav-section-1 {
		display: flex;
		list-style-type: none;
		.nav-item {
			max-width: 80px;
			margin: auto 0.5%;
		}
	}
}

@media screen and (max-width: 568px) {
	.nav-section {
		display: block;
		margin-top: 3%;
		z-index: 9;
	}

	#navbarSupportedContent {
		// border-radius: 8px;
		width: 370px;
		background-color: rgba(255, 255, 255, 0.6);
		margin-top: 4px;
		margin-bottom: 0;
		padding-bottom: 0;
		a {
			padding: 0px;
			width: 120px;
			color: $dark-grey;
		}
		.nav-section-1 {
			justify-content: space-evenly;
			margin: 16px 48px;
		}
		.nav-section-2 {
			justify-content: space-evenly;
			margin: 16px 48px;
		}
	}
	#navbarSupportedContent.navbar-collapse {
		margin-top: 0;
		padding-top: 0;
	}

	#location-input-homepage {
		max-width: 340px;
		font-size: 0.8em;
	}

	.main-text {
		input {
			width: 300px;
		}
	}
}
