.navbar {
	justify-content: space-between;
	height: 60px;
	h1 {
		color: $light-grey;
	}
	a {
		color: $light-grey;
	}
}

.nav-item-sec {
	display: flex;
	list-style-type: none;
	.nav-item {
		margin: 0 36px;
	}
}

.nav-item-prim {
	display: flex;
}

.nav-item:hover {
	text-decoration: underline;
}

.navbar-lewagon {
	background: $dark-grey;
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
}
