.new_listing_form {
	margin-top: 10px;
}

a.page-link {
	color: $dark;
	background-color: $light-grey;
	border: 1px solid $grey;
}

a.page-link:hover {
	background-color: $dark-grey !important;
	color: $light-grey;
}

span.page-link {
	background-color: $dark-grey !important;
	color: $light-grey;
	border: 1px solid $grey;
}

.left-security {
  margin-top: 10px;
  height: 520px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px $light-grey;
  h2 {
    margin-bottom: 10px;
    text-decoration: underline;
  }
  ul {
    list-style: none;
  }
  li {
    line-height: 30px;
  }
}

.right-security {
  margin-top: 10px;
  height: 520px;
  background-color: $light-grey;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  h2 {
    margin-bottom: 10px;
    text-decoration: underline;
  }
  ul {
    list-style: none;
  }
  li {
    line-height: 30px;
  }
}

.form-check-label {
  color: black !important;
  text-decoration: none;
  font-weight: bolder;
}
