.offer {
	display: flex;
	align-items: center;
	color: $dark;
	background-color: $light-grey;
	height: 180px;
	padding: 16px;
	width: 90%;
	margin-left: 0px;
	border-radius: 8px;
}

.offer_final_price {
	width: 74%;
}

.offer_btn {
	width: 250px;
}
